<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Report</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" >
        <a class="navbar-brand" href="#">
            <img src="/static/w2.jpg" alt="Weather Report" style="width: 70px;height: 70px;">
        </a>
        <a class="navbar-brand" href=""><h1 style="padding: 20px">Weather Report </h1></a>
    </nav>
<br>
<br>
{% block body %}

{% endblock %}

</body>
</html>